.banner{
    text-align: center;
    color:aliceblue;
    padding:100 px;
   
}

p{
  color:white;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url(https://pictures.altai-travel.com/1920x1040/the-potaro-river-valley-under-kaieteur-falls-in-the-amazon-rainforest-of-guyana-south-america-istock-4165.jpg);
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home{
  display: flex;
  flex-direction: row;
}
.home{
 flex:1;
 margin:70px;
 padding: 10px;
 border:soild white 2px;
 border-radius: 5px;

}




.container{
    display:flex;
    text-align: center;
}
 
nav{
  padding:5px
}

nav a{
  color:aliceblue;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
  background-color: red;
}

nav a :hover{
 border-bottom: 2px soild black ;
 }

 a{
  text-decoration: none;
}

#footer{
  background-color:gold ;
  color:black;
  padding: 20px;
}
